.head{
    background-color: rgb(4, 37, 53);
    text-align: center;
    color: azure;
    height: 80px;
    padding-top: 30px;
}
table
{
margin-top: 50px;

}
.doors{
    max-width: 100px;
    max-height: 200px;
}

.dialog{
    display: none;
    padding: 10px;
    max-width: 200px;
    
}
.dialogbtn{
    margin-left: 5px;
    color: azure;
}
.rdo{
    margin-bottom: 50px;
    margin-top:  10px;
}
.blur-effect {
    filter: blur(50px); 
  }

.load-container
{
        position: fixed;
        top :50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.load-container img {
    width: 400px; /* Adjust the width as needed */
   
  }
  
  